eureka:
  client:
    service-url:
      default-zone: ${EUREKA_DEFAULT_ZONE:http://localhost:8761}

spring:
  cloud:
    gateway:
      metrics:
        enabled: true
  config:
    import: optional:configserver:${CONFIG_SERVER_URI:http://localhost:8082}

management:
  endpoints:
    web:
      exposure:
        include: '*'

token:
  expiration: ${TOKEN_EXPIRATION:864000000} # 10 days by default
  secret: ${TOKEN_SECRET:asdWasdWASGHEt31Sh34As5}

logging:
  level:
    org.springframework.web: ERROR
    org.martikan.mastore: DEBUG
    org.hibernate: DEBUG
    org.springframework.cloud.gateway: DEBUG
    reactor.netty.http.client: DEBUG